@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.container {
  background-color: var(--white);
  max-width: 315px;
  height: 490px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 3px 3px hsl(218, 44%, 22%, 0.15);
}

.img__container {
  padding: 15px 15px 0px 15px;
}

.img__container img {
  width: 100%;
  max-height: 500px;
  border-radius: 10px;
}

.info__container {
  margin: 0px 15px;
  padding: 20px;
}

.info__container h1 {
  margin-bottom: 15px;
  color: var(--dark-blue);
  font-size: 20px;
}

.info__container p {
  color: var(--grayish-blue);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
